@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: #d9d4d6; */
}

header {
  background-color: #ffffff;
  width: 200px;
  height: 100vh;
  position: fixed;
  box-shadow: 1px 1px 9px 1px;
}

.logo img {
  width: 50px;
  height: 50px;
}

#imagem-capa {
  height: 100%;
  /* background-image: url(../images/mkimports.png); */
  background-size: cover;
  background-position: center;
}

.logo {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo p {
  font-size: 20px;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
  color: #7800ff;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-list li {
  font-size: 20px;
  list-style: none;
  /* text-transform: uppercase; */
  margin: 20px;
}

.popup {
  background-color: rgb(158, 158, 158);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 35%;
  height: auto;
  z-index: 1000;
}

.conteudo {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.botoes {
  /* position: relative; */
  /* top: 90px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.botoes button {
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  max-width: 100%;
  margin-top: 20px;
  width: 200px;
}

.botoes button:hover {
  background-color: rgb(187, 186, 186);
  transition: 0.4s ease;
}

.conteudo form {
  display: flex;
  flex-direction: column;
  /* border: solid red 1px; */
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
}


.conteudo form label {
  font-size: 20px;
  width: 100%;
  margin: 20px 0;
}

.conteudo form input {
  width: 100%;
  max-width: 400px;
  height: 2.5rem;
  padding: 15px 0px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  padding-left: 20px;
}

.conteudo form input::placeholder,
textarea::placeholder {
  /* border: solid red 1px; */
  width: 80%;
  position: relative;
}

.conteudo form input:focus,
textarea:focus {
  outline: 2px solid #FF6D6E;
}

.conteudo form textarea {
  border-radius: 20px;
  width: 260px;
  height: 100px;
  border: none;
}

.nav-list li a {
  text-decoration: none;
  color: #7800ff;
}

.nav-list li a:hover {
  color: #ac6ad3;
}

.sair {
  /* display: flex; */
  position: relative;
  top: 400px;
}


button {
  cursor: pointer;
}

.teste {
  display: flex;
  align-items: end;
  justify-content: center;
  /* border: solid red 1px; */
  height: 20vh;
  background-color: #983cff;
  box-shadow: 1px 3px 9px 1px;
}

.teste span {
  font-size: 50px;
  color: white;
  /* margin: 10px; */
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}

.capa {
  height: 20vh;
  background-color: #7800ff;
  /* background-image: url(../assets/images/fundo_preto.avif); */
}

.imagems {
  position: relative;
  left: 50%;
}

.imagems i {
  text-decoration: none;
  color: black;
}

.imagems i:hover {
  color: white;
}

.plano {
  background-color: rgb(94, 94, 94);
  height: 45vh;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.plano a {
  color: black;
}

i {
  font-size: 40px;
}

.icon {
  text-align: right;
  margin-right: 45px;
  margin-top: 20px;
}

.plano .imagem {
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
  position: relative;
  top: 15%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cecccc;
}

.botao,
.botao2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  flex-direction: column;
}

.botao button {
  cursor: pointer;
  width: 15%;
  height: 2.5rem;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  margin: 15px;
}

.botao2 {
  position: relative;
  left: -50%;
}

.botao2 button {
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 20px;
}

.botao button:hover {
  background-color: #cecccc;
}

.capa .imagem {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffde59;
  ;
  position: relative;
  left: 205px;
}




.titulo-loja {
  text-align: center;
  width: 50%;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.posts,
.add-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: solid red 1px; */
  margin: 0 auto;
  /* background-color: #d9d4d6; */

}

.add-posts h1 {
  text-transform: uppercase;

}

.add-posts img {
  width: 200px;
}

.container {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}

.imagem-post {
  display: flex;
  flex-wrap: wrap;
  /* border: solid blue 1px; */
  width: 60%;
  margin: 0 auto;
  height: auto;
  padding: 10px;
  justify-content: space-around;
  /* flex-direction: column; */
}

.imagem-post img {
  width: 350px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  order: 0;
}

.item-imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: solid 1px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .9);
}

.item-imagem img {
  width: 350px;
  height: 250px;

  padding: 10px;
}

.item-imagem span {
  margin-top: 10px;
  text-align: center;
}