<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../public/assets/css/styles-login.css">
    <link rel="shortcut icon" href="../../public/assets/images/logo rd (1).png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-list">
                <div class="logo">
                    <a href="../../../public/index.html"><img src="../../../public/assets/images/logo rd (1).png"
                            alt=""></a>
                </div>

                <div class="hamburguer" id="hamburguer">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="menu" id="menu">
                    <!-- <li><a href="../html/personalize.php">Personalize</a></li> -->
                    <!-- <li><a href="#myCarousel">Sobre</a></li> -->
                    <li><a href="http://zltech.freesite.online/?i=1" target="_blank">ZL Tech</a></li>
                    <li> <a href="../tipo_cadastro.html">Cadastrar</a></li>
                    <li><a href="../login.html">Entrar</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-form">
            <form method="post" id="form">
                <div class="campos">

                    <div class="input-label">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="example@gmail.com" required>
                    </div>

                    <div class="input-label">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" placeholder="Informe sua senha" required>
                    </div>
                </div>
                <div class="msg" id="msg"></div>
                <div class="input-label">
                    <button type="submit">Entrar</button>
                    <div id="g_id_onload" data-client_id="SEU_ID_CLIENTE_AQUI.apps.googleusercontent.com"
                        data-context="signin" data-ux_mode="popup" data-callback="handleLoginResponse"
                        data-auto_prompt="false">
                    </div>

                    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
                        data-text="signin_with" data-size="large" data-logo_alignment="left">
                    </div>
                    <p style="margin-top: 30px;">Não possui conta? <a href="./empresa/cadastro_empresa.html"> Clique aqui para cadastrar</a></p>
                </div>



            </form>
        </div>

        <!-- <footer>
            <p>redes sociais</p>
        </footer> -->
    </main>
    <script src="../../public/assets/js/login.js" defer></script>
    <script src="../../public/assets/js/menu.js"></script>
</body>

</html>